@CHARSET "UTF-8";
body
{
	background:#F0F0F0;
}

#noteHead
{
	
}

#login
{
	width:400px;
	height:200px;
	margin-left:auto;
	margin-right:auto;
	margin-top:200px;
	background:#0066CC;
	box-shadow: -1px -1px 6px 2px #A0A0A0;
	border: 0px;
	border-radius: 25px;
}

#login form
{
	width:300px;
	margin-left:auto;
	margin-right:auto;
	padding-top:55px;
}

#login input
{
	width:200px;
}

#loginButton
{
	width:200px;
	height:30px;
	margin-top:10px;
	margin-left:80px;
}

.label
{
	font-weight:bold;
	color:white;
	width:80px;
	float:left;
}

.ui-accordion .ui-accordion-content {padding:0px}

.topicButton
{
	width:100%;
	font-size:20px;
	margin-top:5px;
}

.topic
{
	width:96%;
	margin-left:auto;
	margin-right:auto;
}
.subTopic
{
	font-size:14px;
}

.editButton
{
	font-size:14px;
}

#signOut
{
	color:#0066FF;
	cursor:pointer;
	font-size:14px;
}

#signOut:hover
{
	color:blue;
}

.editButton:hover
{
	color:#0099FF;
	cursor:pointer;
}

.deleteButton
{
	font-size:14px;
}

.deleteButton:hover
{
	color:red;
	cursor:pointer;
}

.addTopic:hover
{
	color:#0099FF;
	cursor:pointer;
}

.loadTopicNotes:hover
{
	color: #0099FF;
	cursor:pointer;
}

.editClass
{
	height:45px;
}

.editClass input
{
	height:28px;
}

#classSelector 
{
	width:100%;
	margin-top:0px;
	height:40px;
	font-size:18px;
}

.classes
{
	width:100%;
	margin-left:auto;
	margin-right:auto;
}

#noteSelector
{
	float:left;
	width:218px;
	min-height:1000px;
}

#noteView
{
	margin-left:226px;
	padding-top:10px;
	min-height:1000px;
	background:white;
}

.keyTerm
{
	font-weight:bold;
	width:9%;
	border-color:#D8D8D8;
	border-left: 0;
	border-right: 0;
	border-top: 0;
}

.description
{
	width:89%;
	border-color:#D8D8D8;
	border-left: 0;
	border-right: 0;
	border-top: 0;
}

.left
{
	float:left;
}

.right
{
	float:right;
}


