{{#topics}}
	<div class = "topic" topicID = {{topicID}}>
		<div class = "accordion">
			<h3>{{name}}</h3>
			<div>
				{{#subTopics}}
					<div class = 'subTopic' topicID = {{topicID}}>
						<span class = 'loadTopicNotes'>{{name}}</span>
						<span class = 'editTopic editButton'>[Edit]</span></div>
				{{/subTopics}}
					<div class = 'subTopic'><span class = 'addTopic' parentID = {{topicID}} classID = {{classID}}>+ Add Subtopic</span></div>
			</div>
		</div>
	</div>
{{/topics}}
<button class = "topicButton" onclick="addTopic()">+ Add Topic</button>
